header, footer {
    background-color: #FFA8A8;
}

main {
    background-color: #FFBFBF;
    text-align: center;
}

.rfhnbyrb {
    text-align: center;
}

p {
    text-align: justify;
}

nav a {
    text-decoration: none;
    color: #BFFFBF;
    border: 3px solid #8BFF8B;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    color: #BFFFBF;
    border: 3px solid #8BFF8B;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 10px;    
}
